* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */

.header {
    font-family: ubuntu;
    border-bottom: 1px solid #e5e7eb;
   
}

.header__container {
    display: flex;
    width: calc(100% - 312px * 2);
    max-width: 1236px;
    margin: 0 auto;
    align-items: center;
    gap: 50px;
    padding: 18px 0px;
    
    
}

.header__menu {
    display: flex;
    list-style: none;
    font-size: 16px;
    gap: 20px;
       text-shadow:
    -1px -1px 0 #DCE0E9,
    1px -1px 0 #DCE0E9,
    -1px 1px 0 #DCE0E9,
    1px 1px 0 #DCE0E9,
    -1px 0 0 #DCE0E9,
    1px 0 0 #DCE0E9,
    0 -1px 0 #DCE0E9,
    0 1px 0 #DCE0E9;
   
}

.header__link {
    text-decoration: none;
}

.header__button {
text-decoration: none;
margin-left: auto;
background-color: #0013FF;
color: #FFFFFF;
font-size: 16px;
padding: 10px 20px;
border-radius: 20px;
box-shadow:
    -1px -1px 0 #DCE0E9,
    1px -1px 0 #DCE0E9,
    -1px 1px 0 #DCE0E9,
    1px 1px 0 #DCE0E9,
    -1px 0 0 #DCE0E9,
    1px 0 0 #DCE0E9,
    0 -1px 0 #DCE0E9,
    0 1px 0 #DCE0E9;
}
/* header */

/* first */

.first {
    font-family: Abril Fatface;
    margin-bottom: 120px;
}

.first__container {
    width: calc(100% - 30px * 2);
    max-width: 1296px;
    margin: 0 auto;
    background-color: #C7E3E9;
}

.first__title {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 80px 0 90px;
    color: #040062;
    text-align: center;
}

.first__container {
    position: relative;
}

.first__block {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 35px;
    align-items: center;
  
}

.first__title-text1 {
    font-size: 60px;
    line-height: 100%;
}

.first__title-text2 {
    font-size: 80px;
    line-height: 100%;
}

.first__title-text3 {
    font-size: 110px;
    line-height: 100%;

}

.first__img1 {
    position: absolute;
    bottom: 0;
    left: 30px;
}

.first__img2 {
    position: absolute;
    bottom: 0;
    right: 30px;
}

 

/* first */


/* main*/

.cards {
    border-bottom: 1px solid #e5e7eb;
}

.cards__container {
    display: flex;
    width: calc(100% - 312px * 2);
    max-width: 1236px;
    margin: 0 auto;
    background-color: #FEF1EF;
    
}

.cards__img {
    border-radius: 37px;
}


/* main*/