* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */

.header {
    font-family: ubuntu;
    border-bottom: 1px solid #e5e7eb;
   
}

.header__container {
    display: flex;
    width: calc(100% - 30px * 2);
    max-width: 1296px;
    margin: 0 auto;
    align-items: center;
    gap: 50px;
    padding: 18px 0px;
    
    
    
}

.header__menu {
    display: flex;
    list-style: none;
    font-size: 16px;
    gap: 20px;
       text-shadow:
    -1px -1px 0 #DCE0E9,
    1px -1px 0 #DCE0E9,
    -1px 1px 0 #DCE0E9,
    1px 1px 0 #DCE0E9,
    -1px 0 0 #DCE0E9,
    1px 0 0 #DCE0E9,
    0 -1px 0 #DCE0E9,
    0 1px 0 #DCE0E9;
   
}

.header__link {
    text-decoration: none;
    color: #040062;
}

.header__button {
text-decoration: none;
margin-left: auto;
background-color: #0013FF;
color: #FFFFFF;
font-size: 16px;
padding: 10px 20px;
border-radius: 20px;
box-shadow:
    -1px -1px 0 #DCE0E9,
    1px -1px 0 #DCE0E9,
    -1px 1px 0 #DCE0E9,
    1px 1px 0 #DCE0E9,
    -1px 0 0 #DCE0E9,
    1px 0 0 #DCE0E9,
    0 -1px 0 #DCE0E9,
    0 1px 0 #DCE0E9;
}

@media  screen and (max-width: 900px) {
    .header__container {
        padding: 10px 0;
    }
}


@media  screen and (max-width: 700px) {
    .header__container {
        display: flex;
        flex-direction: column;
        gap: 40px;  
        padding: 30px;
    }

    .header__button {
        margin: 0 auto;
    }
}   

@media  screen and (max-width: 550px) {
     .header__container {
        gap: 30px;
    }

    .header__menu {
        gap: 15px;
    }
}

@media screen and (max-width: 400px) {
    .header__button {
        font-size: 10px;

    }

    .header__menu {
        font-size: 12px;
    }

    .header__container {
        width: calc(100% - 16px * 2);
        gap: 16px;
    }
}
/* header */

/* first */

.first {
    font-family: Abril Fatface;
    margin-bottom: 120px;
}

.first__container {
     padding: 80px 0 90px;
    width: calc(100% - 30px * 2);
    max-width: 1296px;
    margin: 0 auto;
    background-color: #C7E3E9;
}

.first__title {
    display: flex;
    flex-direction: column;
    color: #040062;
    text-align: center;
}

.first__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.first__block {
    display: flex;
    gap: 35px;
    align-items: center;
    
  
}

.first__title-text1 {
    font-size: 60px;
    font-weight: 400;
}

.first__title-text2 {
    font-size: 80px;
    font-weight: 400;
}

.first__title-text3 {
    font-size: 110px;
    font-weight: 400;

}

.first__img1 {
    position: absolute;
    bottom: 0;
    left: 30px;
}

.first__img2 {
    position: absolute;
    bottom: 0;
    right: 30px;
}

@media screen and (max-width: 1300px) {
    .first__img3 {
        width: 130px;
    }

    .first__img4 {
        width: 40px;
    }

    .first__img1 {
        width: 300px;
    }

    .first__img2 {
        width: 306px;
    }
}

@media screen and (max-width: 1130px) {
    .first__title-text1 {
        font-size: 50px;
    }

    .first__title-text2 {
        font-size: 70px;
    }

    .first__title-text3 {
        font-size: 100px;
    }
}

@media screen and (max-width: 1100px) {
    .first__img3 {
        width: 100px;
    }

    .first__img4 {
        width: 30px;
    }

    .first__img1 {
        width: 250px;
    }

    .first__img2 {
        width: 256px;
    }
}

@media screen and (max-width: 900px) {
    .first__title-text1 {
        font-size: 30px;
    }

    .first__title-text2 {
        font-size: 50px;
    }

    .first__title-text3 {
        font-size: 80px;
    }

        .first__img3 {
        width: 80px;
    }

    .first__img4 {
        width: 25px;
    }

    .first__img1 {
        width: 200px;
    }

    .first__img2 {
        width: 206px;
    }
}

@media screen and (max-width: 760px) {
    .first__container {
        gap: 50px;
        padding: 50px 0 60px;
    }

    .first__block {
        gap: 14px;
    }


    .first__img1 {
        width: 180px;
    }

    .first__img2 {
        width: 186px;
    }

    .first__img1 {
    position: absolute;
    bottom: 0;
    left: 10px;
    }

    .first__img2 {
    position: absolute;
    bottom: 0;
    right: 10px;
    }
}

@media screen and (max-width: 650px) {
        .first__container {
            gap: 40px;
            padding: 30px 0 40px;
        }

        .first__img1 {
        width: 150px;
    }

    .first__img2 {
        width: 156px;
    }

    .first__title-text1 {
        font-size: 20px;
    }

    .first__title-text2 {
        font-size: 30px;
    }

    .first__title-text3 {
        font-size: 60px;
    }

    @media screen and (max-width: 650px) {
          .first__container {
            gap: 30px;
            padding: 20px 0 30px;
        }

        .first__img1 {
        width: 130px;
    }

    .first__img2 {
        width: 136px;
    }
    
    .first__img1 {
    position: absolute;
    bottom: 0;
    left: 4px;
    }

    .first__img2 {
    position: absolute;
    bottom: 0;
    right: 4px;
    }
}

@media screen and (max-width: 550px) {
    
    .first__img3 {
        width: 50px;
    }

    .first__img4 {
        width: 20px;
    }
}

 @media screen and (max-width: 500px) {
    .first__container {
            gap: 24px;
            padding: 14px 0 24px;
        }

        .first__img1 {
        width: 110px;
    }

    .first__img2 {
        width: 116px;
    }

    .first__title-text1 {
        font-size: 14px;
    }

    .first__title-text2 {
        font-size: 20px;
    }

    .first__title-text3 {
        font-size: 40px;
    }

    .first__img3 {
        width: 50px;
    }

    .first__img4 {
        width: 20px;
    }
}

@media screen and (max-width: 450px) {
    .first__block {
        gap: 6px;
    }
    .first__container {
        gap: 10px;
        padding: 6px 0 16px;
    }

    .first__img1 {
        width: 90px;
    }

    .first__img2 {
        width: 96px;
    }

    .first__title-text1 {
        font-size: 10px;
    }

    .first__title-text2 {
        font-size: 16px;
    }

    .first__title-text3 {
        font-size: 30px;
    }

    .first__img3 {
        width: 26px;
    }

    .first__img4 {
        width: 14px;
    }
    
}

@media screen and (max-width: 350px) {
    .first__img1 {
        width: 80px;
    }

    .first__img2 {
        width: 86px;
    }
}

/* first */


/* main*/

.cards {
    border-bottom: 1px solid #e5e7eb;
}

.cards__container {
    display: flex;
    width: calc(100% - 30px * 2);
    max-width: 1296px;
    margin: 0 auto;
    align-items: center;
}

.cards-1 .cards__container {
    flex-direction: row-reverse;
}

.cards__block-img {
    /* flex: 0 0 50%; */
    width: 50%;
    text-align: center;
    padding: 70px 0;
    background-color: #FEF1EF;
    
}

.cards-1 .cards__block-img {
    background-color: #C7E3E9;
}


.cards__img {
    border-radius: 37px;
    height: 508px;
}

.cards__text {
    display: flex;
    flex-direction: column;
   padding-left: 100px;
   gap: 32px;
   width: 50%;   
}

.cards-1 .cards__text {
    padding: 60px;
}

.cards__title {
    font-size: 48px;
    font-family: Abril Fatface;
    font-weight: 400;
    color: #040062;
}

.cards__paragraph {
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 400;
    color: #6D758D;
}

/* main*/

/* footer */

.footer {
    font-family: ubuntu;
}

.footer__container {
    width: calc(100% - 30px * 2);
    max-width: 1296px;
    margin: 0 auto;
    
}

.footer__block {
    display: flex;
    padding: 80px 0 100px;
}



.footer__block-links {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    font-size: 14px;
    color: #6D758D;
    gap: 24px;
}

.footer__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__block-contact{
    display: flex;
    width: 506px;
    justify-content: space-between;
    font-size: 16px;
    color: #6D758D;
}

.footer__block {
    display: flex;
    gap: 180px;
}

.footer__title {
    color: #040062;
    font-size: 22px;
    font-weight: 400;
}

.footer__contact {
    display: flex;
   flex-direction: column;
   gap: 18px;
}

.footer__links {
    display: flex;
    justify-content: space-around;
}

.footer__text-decor {
    text-decoration: underline;
}
/* footer */