* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}


.header {
   justify-content: center;
   gap: 100px;
}


.header, .menu {
    display: flex;
}


.menu {
    list-style: none;
    gap: 20px;
}


.logo {

}