* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}


.header {
   justify-content: center;
   gap: 100px;
   align-items: center;
   background-color: #f6f6f6;
   font-family: Arial, Helvetica, sans-serif;
   padding: 25px;
}


.header, .menu {
    display: flex;
}


.menu {
    list-style: none;
    gap: 20px;
}


.button {
    display: inline-block;
    text-decoration: none;
    background-color: blue;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 500;
    box-shadow: 
    inset 0 0 0 1px rgb(226, 226, 220);  /* Светлая рамка внутри */
    }


    .logo {
       height: 23px;
    }


    .header a {
  text-decoration: none;   /* УБИРАЕТ ПОДЧЁРКИВАНИЕ У ВСЕХ ССЫЛОК */
}