* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}


.header {
   justify-content: center;
   gap: 100px;
   align-items: center;
   font-family: Arial, Helvetica, sans-serif;
   padding: 25px;
   border-bottom: 1px solid #e5e5e5;
}


.header, .menu {
    display: flex;
}


.menu {
    list-style: none;
    gap: 20px;
    
}


.button {
    display: inline-block;
    text-decoration: none;
    background-color: blue;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 600;
    box-shadow: 
    inset 0 0 0 1px rgb(226, 226, 220);  /* Светлая рамка внутри */
    }


    .logo {
       height: 23px;
    }


    .header a {
  text-decoration: none;   
}


.menu {
    font-size: 16px;  
    color: #040062;
    text-shadow:
    -1px -1px 0 #DCE0E9,
    1px -1px 0 #DCE0E9,
    -1px 1px 0 #DCE0E9,
    1px 1px 0 #DCE0E9,
    -1px 0 0 #DCE0E9,
    1px 0 0 #DCE0E9,
    0 -1px 0 #DCE0E9,
    0 1px 0 #DCE0E9;
}

